.App {
  text-align: center;
}

.content {
  overflow: auto;
  min-height: calc(100vh - 56px - 72px);
}
.feedback-height{
  height: 31px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
